<div class="container-fluid" style="margin-top: 15px;">
  <div class="row">
    <div class="col">
      <!-- Here we will call the card components -->
      <!-- Details -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Details</h4>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <!-- Status -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Status</h4>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Capacity -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Capacity</h4>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Second Row -->
  <div class="row" style="margin-top: 15px;">
    <div class="col">
      <!-- Inventory -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Inventory</h4>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <!-- Cluster Utilization -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Cluster Utilization</h4>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Events -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Events</h4>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid ends here -->
</div>